*{margin: 0;padding: 0;box-sizing: border-box;-webkit-text-size-adjust:none;}
/*容器居中*/
.wrap{margin-left: auto;margin-right: auto;width: 47rem;vertical-align: middle}
/*页眉样式*/
.symbol{height: 3.82rem;background: url("林信首页/资源%209.png");
    background-repeat: no-repeat;text-align: right;vertical-align: middle}
.symbol span{outline: none;border: none;font-size: 0.53rem;color: RGB(144,195,189);
    position: relative;top:0.53rem;}
.symbol img{cursor: pointer;position: relative;top:1rem;}
.symbol span img{top:-0.2rem;margin-left: 0.5rem}
/*导航栏样式*/
nav{background-color: RGB(28,134,120)}
nav li{height: 2.41rem;width: 5.59rem;display: inline-block;list-style-type: none;
    line-height: 2.41rem;text-align: center;color: white;font-size: 0.705rem}
nav li:hover{background-color: RGB(25,107,93)}
/*当前位置*/
.location .wrap{height: 2.59rem;border-bottom: 1px solid RGB(232,232,232)}
.location .wrap p{padding-top: 1.117rem;color: RGB(40,123,186);font-size: 0.882rem}
.location .wrap p span{float: right;font-size: 0.53rem;color:RGB(91,91,91);}
.location .wrap p a{cursor: pointer}
/*智慧林业*/
.forestry .wrap{height: 23.06rem;background-color: blue;margin-top: 0.882rem}
/*解决方案*/
.solution{background-color: green;height: 15.12rem;
    vertical-align: middle;padding-top: 3.765rem;}
.solution .right{background:url("林信首页/资源%205.png");height: 8.235rem;width: 12.35rem;
    float: right;background-size: 100% 100%;position: relative;right: 3.7rem;}
.solution .left{width: 27.35rem;float: left;}
.solution h4{font-size: 1rem;color: RGB(65,132,121);margin-top: 2rem;}
.solution p{font-size: 0.588rem;color: RGB(130,130,130);margin-top: 1rem;
    line-height: 1rem}
/*实时监控*/
.videoSurveillance{height: 15.765rem;vertical-align: middle;padding-top: 2rem;}
.videoSurveillance .left{background:url("林信首页/资源%205.png");height: 8.235rem;width: 12.35rem;
    float: left;background-size: 100% 100%;position: relative;left: 3.7rem;margin-top: 1.59rem}
.videoSurveillance .right{width: 27.35rem;float: right;}
.videoSurveillance h4{font-size: 1rem;color: RGB(65,132,121);}
.videoSurveillance p{font-size: 0.588rem;color: RGB(130,130,130);margin-top: 1rem;
    line-height: 1rem}
/*解决方案图*/
.solutionPic{background-color: yellow;height: 45.59rem}
/*有关信息*/
.information{background-color: RGB(204,204,204);padding-top: 1rem;padding-bottom: 1rem}
.information .wrap{vertical-align: top}
.information .wrap div{display: inline-block;vertical-align: top}
.information h6{font-size: 0.706rem;color:RGB(95,95,95);line-height: 1.41rem}
.information p{font-size: 0.59rem;color: RGB(135,135,135);line-height: 1rem;}
#cooperateCompany,#contactInformation{width: 19.47rem}
/*页脚*/
footer p{text-align: center;font-size: 0.588rem;line-height: 3.176rem}
footer{background-color: RGB(179,179,179)}
footer .wrap{background: url("林信首页/资源%2013.png");background-repeat: no-repeat}