*{margin: 0;padding: 0;box-sizing: border-box;-webkit-text-size-adjust:none;}
/*容器居中*/
.wrap{margin-left: auto;margin-right: auto;width: 47rem;vertical-align: middle}
/*页眉样式*/
.symbol{height: 3.82rem;background: url("林信首页/资源%209.png");
    background-repeat: no-repeat;text-align: right;vertical-align: middle}
.symbol span{outline: none;border: none;font-size: 0.53rem;color: RGB(144,195,189);
    position: relative;top:0.53rem;}
.symbol img{cursor: pointer;position: relative;top:1rem;}
.symbol span img{top:-0.2rem;margin-left: 0.5rem}
/*导航栏样式*/
nav{background-color: RGB(28,134,120)}
nav li{height: 2.41rem;width: 5.59rem;display: inline-block;list-style-type: none;
    line-height: 2.41rem;text-align: center;color: white;font-size: 0.705rem}
nav li:hover{background-color: RGB(25,107,93)}
/*文字说明*/
.statement{height: 6.24rem;background-color: RGB(146,224,210);padding-top: 1.353rem}
.statement p{font-size: 1.118rem;line-height: 1.53rem;color: RGB(42,119,105)}
.statement p:last-of-type{text-indent: 4.47rem}
/*当前位置*/
.location .wrap{height: 2.59rem;border-bottom: 1px solid RGB(232,232,232)}
.location .wrap p{padding-top: 1.117rem;color: RGB(40,123,186);font-size: 0.882rem}
.location .wrap p span{float: right;font-size: 0.53rem;color: RGB(91,91,91);}
.location .wrap p a{cursor: pointer}
/*地图*/
.map .wrap{height: 18.765rem;background-color: RGB(254,195,101);margin-top: 0.588rem}
/*各种联系方式统一样式*/
.way>div div{ display: inline-block}
.way h1{font-size: 0.882rem;color: RGB(34,113,99);height: 2rem;line-height: 2rem;font-weight: bold}
.way h2{font-size:0.882rem;color: RGB(110,191,176);line-height: 1.786rem }
.way h3{font-size: 0.706rem;color: RGB(105,105,105)}
.way p{font-size: 0.706rem;color: RGB(105,105,105)}
.way .left{margin-left: 3.53rem;position: relative;top: 1rem}
.way .right{margin-left: 2.94rem}
.way .wrap{padding-top: 2.765rem}
/*联系方式*/
.contactWay,.underline{background-color: RGB(247,247,247)}
.contactWay{height: 10.88rem}
.bus{height: 12.765rem}
.underline{height: 11.47rem}
.navigation{height: 9.41rem}
/*有关信息*/
.information{background-color: RGB(204,204,204);padding-top: 1rem;padding-bottom: 1rem}
.information .wrap{vertical-align: top}
.information .wrap div{display: inline-block;vertical-align: top}
.information h6{font-size: 0.706rem;color:RGB(95,95,95);line-height: 1.41rem}
.information p{font-size: 0.59rem;color: RGB(135,135,135);line-height: 1rem;}
#cooperateCompany,#contactInformation{width: 19.47rem}
/*页脚*/
footer p{text-align: center;font-size: 0.588rem;line-height: 3.176rem}
footer{background-color: RGB(179,179,179)}
footer .wrap{background: url("林信首页/资源%2013.png");background-repeat: no-repeat}